@font-face {
  font-family: 'Lato',
  sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/LatoRegular/LatoRegular.woff2") format("woff2"),
  url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
  url("../fonts/LatoRegular/LatoRegular.eot") format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Lato',
  sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/LatoSemiBold/LatoSemiBold.woff2") format("woff2"),
  url("../fonts/LatoSemiBold/LatoSemiBold.woff") format("woff"),
  url("../fonts/LatoSemiBold/LatoSemiBold.eot") format("embedded-opentype"),
    url("../fonts/LatoSemiBold/LatoSemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Lato',
  sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/LatoBold/LatoBold.woff2") format("woff2"),
  url("../fonts/LatoBold/LatoBold.woff") format("woff"),
  url("../fonts/LatoBold/LatoBold.eot") format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Lato',
  sans-serif;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/LatoExtraBold/LatoExtraBold.woff2") format("woff2"),
  url("../fonts/LatoExtraBold/LatoExtraBold.woff") format("woff"),
  url("../fonts/LatoExtraBold/LatoExtraBold.eot") format("embedded-opentype"),
    url("../fonts/LatoExtraBold/LatoExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Raleway',
  sans-serif;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff2") format("woff2"),
  url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff") format("woff"),
  url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot") format("embedded-opentype"),
    url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf") format("truetype");
  font-display: swap;
}


